{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert text-center alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <div class="container">
        <h1>Register</h1>
            <form class="col-6" action="{% url 'userregister' %}" method="post">
                {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="exampleInputPassword1">
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="{% url 'userlogin' %}" class="btn btn-success">Login</a>
            </div>
            </form>
    </div>
{% endblock body %}